.admin body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.admin h1, .admin h2, .admin h3, .admin h4, .admin h5, .admin h6 {
    color: #624F81;
}

.admin h1, .admin h2, .admin h3, .admin h4, .admin h5 {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.admin a {
    color: #624F81;
    text-decoration: none;
}

.admin a:hover {
    color: #302740;
    cursor: pointer;
}

.admin i {
    color: #624F81;
}

.admin .card {
    border-radius: 1rem;
    padding: 0.2rem;
}

@media screen and (max-width: 700px) {
    .admin .computer { display: none }
}

@media screen and (min-width: 701px) {
    .admin .mobile { display: none }
}


/* Login Page */

.admin .login-page {
    width: 100vw;
    height: 100vh;
    background: rgba(216, 191, 216, 0.32);
}

.admin #login-card {
    padding: 0;
    position: absolute;
    top: calc(50% - 1rem);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 22.5rem;
    max-width: 80vw;
    border-radius: 1rem;
}

.admin #login-card .card-body {
    padding: 2rem 4rem 1.5rem;
    background: rgba(216, 191, 216, 0.2);
}

.admin #login-card .card-title {
    padding-top: 7px;
}

.admin #login-card .card-header {
    background: rgba(216, 191, 216, 0.4);
    border-radius: 15px 15px 0 0;
}

.admin #login-card .card-footer {
    background: rgba(216, 191, 216, 0.4);
    border-radius: 0 0 15px 15px;
}


/* Sidebar */

.admin .sidebar {
    background: rgba(216, 191, 216, 0.32);
    padding: 2rem 1rem;
    height: 100vh;
    width: 22vw;
    color: #624F81;
    overflow: hidden;
    z-index: 1;
    position: fixed;
}

.admin .sidebar a {
    width: calc(22vw - 2rem);
}

.admin .sidebar a:hover {
    background: rgba(216, 191, 216, 0.4);
}

@media screen and (max-width: 700px) {
    .admin .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .admin .sidebar a {float: left;}
}

@media screen and (max-width: 450px) {
    .admin .sidebar a {
        float: none;
        width: calc(100vw - 2rem);
    }
}

.admin .nav-link {
    line-height: 2.5rem;
    padding: 0 1rem;
}

.admin .logo h5 {
    padding: 0;
}

.admin .logo {
    padding: 1rem 1rem 2rem;
}


/* Outlet */

.admin .dashboard-outlet {
    margin-left: 22vw;
}

.admin .dashboard-outlet, .admin .outlet {
    padding: 2rem;
}

.admin .outlet-header {
    padding-bottom: 1rem;
}

.admin .footer {
    padding: 2rem 0 0;
    text-align: center;
    color: slategrey;
    font-size: 0.8rem;
    border: transparent;
}

@media screen and (max-width: 450px) {
    .admin .outlet {
        margin: 0;
    }
}


/* Dashboard */

@media only screen and (min-height: 750px) {
    .admin .dashboard {
        max-height: calc(100vh - 2rem);
    }
}

.admin .dashboard h5 {
    text-align: left;
}

.admin .dashboard-header {
    padding-bottom: 1rem;
}

.admin .recent-card .card {
    background: rgba(159, 115, 171, 0.32);
    border: transparent;
    padding: 0;
}

.admin .card-title {
    color: #624F81;
    padding: 0;
}

.admin .recent-box {
    background-color: white;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.admin .recent-title {
    padding: 0.5rem;
}

.admin .greeting {
    max-width: 20rem;
}

.admin .greeting-text {
    padding-top: 0.5rem;
    padding-bottom: 0;
}

.admin .analytics-overview h5 {
    padding-bottom: 0.5rem;
}


/* Buttons */

.admin .btn {
    padding: 0.5rem 2.5rem;
    border: 1px solid rgba(216, 191, 216, 1);
    border-radius: 2rem;
    color: #624F81;
}
.admin .btn:hover {
    padding: 0.5rem 2.5rem;
    border: 1px solid rgba(216, 191, 216, 1);
    border-radius: 2rem;
    color: #624F81;
}

.admin .delete-button {
    background: rgba(233, 234, 236, 0.65);
    border: rgba(233, 234, 236, 1);
}
.admin .delete-button:hover {
    background: rgba(233, 234, 236, 1);
    border: rgba(233, 234, 236, 1);
}

.admin .save-button:hover {
    background: rgba(216, 191, 216, 1);
}

.admin .publish-button {
    background: rgba(216, 191, 216, 0.65);
}

.admin .publish-button:hover {
    background: rgba(216, 191, 216, 1);
}

.admin .category-btn {
    padding: 0 1rem;
    border-radius: 5px;
    background: rgba(216, 191, 216, 0.6);
}

.admin .category-btn:hover {
    padding: 0 1rem;
    border-radius: 5px;
    background: rgba(216, 191, 216, 1);
}

.admin .see-more-button {
    text-align: center;
    padding: 2rem;
}


/* Forms */

.admin form {
    padding: 2rem 0;
}

.admin .login-form {
    padding: 0;
}

.admin .form-control {
    border-radius: 2rem;
}

.admin .form-select {
    border-radius: 2rem;
}

.admin .add-category {
    border-radius: 5px;
}

.admin .search-icon {
    position: relative;
    top: 0.3rem;
}

.admin .search-box {
    position: relative;
    bottom: 0.2rem;
}

.admin input[type="text"], .admin input[type="password"], .admin input[type="email"], .admin textarea {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 1.5rem;
    margin: 0;
}

.admin input[type="text"]:focus, .admin input[type="password"], .admin input[type="email"]:focus, .admin textarea:focus {
    background-color: white;
    border: 1px solid lightgrey;
}


/* Edit Page/Post/Testimonial */

.admin .edit-buttons {
    padding-bottom: 1rem;
}

.admin .fa-arrow-left {
    padding-top: 1.25rem;
}

.admin .ql-editor{
    min-height: 60vh;
}

.admin .edit-sidebar {
    background: rgba(216, 191, 216, 0.3);
    padding: 1rem;
}

@media screen and (max-width: 700px) {
    .admin .edit-sidebar {
        margin-top: 2rem;
        padding: 1.5rem;
    }
}


/* Images */

.admin .thumbnail-image {
    position: relative;
}

.admin img {
    display: block;
    width: 100%;
    height: auto;
}

.admin .square {
    position: relative;
    width: 100%;
}

.admin .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.admin .round-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.admin .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    color: transparent;
    text-align: right;
    padding: 0.5rem;
}

.admin .overlay:hover {
    color: white;
    background: rgba(98, 79, 129, 0.6);
}

.admin .overlay i {
    color: white;
    padding: 5px;
    outline: #624F81;
}

.admin .overlay i:hover {
    color: #624F81;
}

.admin .selected-overlay, .admin .select-overlay, .admin .select-overlay:hover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    text-align: right;
    padding: 0.5rem;
}

.admin .select-overlay i {
    color: transparent;
}

.admin .selected-overlay, .admin .select-overlay:hover {
    background: rgba(98, 79, 129, 0.6);
}

.admin .selected-overlay i, .admin .select-overlay:hover i {
    transition: .5s ease;
    color: #302740;
}

.admin .edit-pfp h5 {
    color: transparent;
}

.admin .edit-pfp:hover {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(216, 191, 216, 0.6);
}

.admin .edit-pfp:hover h5 {
    color: #302740;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(216, 191, 216, 1);
    border-radius: 0.5rem;
}

.admin .modal-title {
    padding: 0;
}


/* Analytics */

.admin .chart-container {
    width: 100%;
    height: 100%;
}

.admin .analytics-overview .card {
    background: rgba(216, 191, 216, 0.32);
    border: transparent;
    padding: 0.5rem;
}

.admin .analytics-line-graph {
    width: 100%;
    height: 30vh;
}